<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Email</title>
    <style>
      @media only screen and (max-width: 600px) {
        .content {
          padding: 20px !important;
        }
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #e7e7e7; padding: 60px 0px"
    >
      <tr>
        <td align="center" style="padding: 0px 10px">
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="text-align: center; color: #111111; max-width: 658px"
          >
            <tr>
              <td>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  style="padding: 40px; background-color: #fafafa"
                >
                  <tr>
                    <td
                      style="
                        text-align: left;
                        color: white;
                        font-size: 24px;
                        padding-bottom: 24px;
                      "
                    >
                      <img
                        src="icons/logo-dark.svg"
                        alt="logo"
                        style="margin: 0"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td style="padding-bottom: 24px">
                      <hr
                        style="
                          width: 100%;
                          border-color: #e7e7e7;
                          border-top: 1px;
                          margin: 0;
                        "
                      />
                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 0">
                      <table width="" style="text-align: left">
                        <tr>
                          <td style="padding-bottom: 24px">
                            <h5 style="font-size: 24px; margin: 0">
                              Hello Goodness,
                            </h5>
                          </td>
                        </tr>

                        <tr>
                          <td style="text-align: left; padding-bottom: 24px">
                            <p
                              style="
                                font-size: 16px;
                                margin: 0;
                                line-height: 24px;
                              "
                            >
                              Thank you for submitting your website to Cool
                              Website! We appreciate you sharing your work with
                              us.
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td style="text-align: left; padding-bottom: 24px">
                            <p
                              style="
                                font-size: 16px;
                                margin: 0;
                                font-weight: 600;
                                line-height: 24px;
                              "
                            >
                              Next Steps:
                            </p>
                            <br />

                            <ul style="margin: 0">
                              <li
                                style="
                                  font-size: 16px;
                                  margin: 0;
                                  line-height: 24px;
                                "
                              >
                                <p style="font-weight: 500; margin: 0">
                                  The full review process for websites typically
                                  takes Five (5) business days. We'll send you a
                                  final notification with the official decision
                                  once the process is complete.
                                </p>
                              </li>
                              <br />

                              <li
                                style="
                                  font-size: 16px;
                                  margin: 0;
                                  line-height: 24px;
                                "
                              >
                                <p style="font-weight: 500; margin: 0">
                                  In the meantime, you can use this time to
                                  review our guidelines and best practices for
                                  type of listing on Cool Website at
                                  <a
                                    href="http://"
                                    target="_blank"
                                    style="text-decoration: none"
                                    >coolwebsite.org</a
                                  >. This will help you optimise your website
                                  for potential listing.
                                </p>
                              </li>
                              <br />
                              <li
                                style="
                                  font-size: 16px;
                                  margin: 0;
                                  line-height: 24px;
                                "
                              >
                                <p style="font-weight: 500; margin: 0">
                                  Stay Updated: We recommend subscribing to our
                                  newsletter
                                  <a
                                    href="http://"
                                    target="_blank"
                                    style="text-decoration: none"
                                    >coolwebsite.org</a
                                  >
                                  to receive updates on our platform and
                                  resources to help you grow your online
                                  presence.
                                </p>
                              </li>
                            </ul>
                          </td>
                        </tr>

                        <tr>
                          <td style="text-align: left; padding-bottom: 24px">
                            <p
                              style="
                                font-size: 16px;
                                margin: 0;
                                line-height: 24px;
                              "
                            >
                              Sincerely,
                              <br />
                              <br />
                              The Coolsite Team.
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td
                            align="center"
                            style="
                              background-color: #111111;
                              padding: 12px 24px;
                              border-radius: 100px;
                            "
                          >
                            <a
                              href="https://www.yourwebsite.com"
                              target="_blank"
                              style="
                                color: #ffffff;
                                text-decoration: none;
                                font-weight: 500;
                                margin: 0;
                                font-size: 16px;
                              "
                              >Submit another website</a
                            >
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <table
                  class="row"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  style="
                    background-color: #e7e7e7;
                    text-align: center;
                    width: 100%;
                    padding: 31px 0px 31px 0px;
                  "
                >
                  <tr>
                    <td>
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        style="
                          text-align: center;
                          max-width: 500px;
                          margin: 0px auto;
                        "
                      >
                        <tr>
                          <td>
                            <p
                              style="
                                color: #4e4e4e;
                                font-size: 12px;
                                padding: 31px 0px;
                                margin: 0;
                                line-height: 20px;
                              "
                            >
                              If you didn't sign up for Cool Website, please
                              disregard this email. If you have any questions or
                              need assistance, our support team is here to help.
                              Feel free to reach out to us at support
                              <br />
                              <a
                                href="http://www.coolwebsite.com"
                                target="_blank"
                                rel="noopener noreferrer"
                                style="text-decoration: none"
                              >
                                @coolwebsite.com.
                              </a>
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td
                            style="
                              text-align: center;
                              font-size: 14px;
                              padding-bottom: 31px;
                            "
                          >
                            <a
                              href="#"
                              target="_blank"
                              style="
                                padding-right: 24px;
                                text-decoration: none;
                                color: #4e4e4e;
                                font-weight: 500;
                                line-height: 22px;
                              "
                              ><b>Submit Site</b></a
                            >
                            <a
                              href="#"
                              target="_blank"
                              style="
                                padding-right: 24px;
                                text-decoration: none;
                                color: #4e4e4e;
                                font-weight: 500;
                                line-height: 22px;
                              "
                              ><b>Privacy Policy</b></a
                            >
                            <a
                              href="#"
                              target="_blank"
                              style="
                                padding-right: 24px;
                                text-decoration: none;
                                color: #4e4e4e;
                                font-weight: 500;
                                line-height: 22px;
                              "
                              ><b>Terms & Condition</b></a
                            >
                            <a
                              href="#"
                              target="_blank"
                              style="
                                padding-right: 24px;
                                text-decoration: none;
                                color: #4e4e4e;
                                font-weight: 500;
                                line-height: 22px;
                              "
                              ><b>Unsubscribe</b></a
                            >
                          </td>
                        </tr>

                        <tr>
                          <td style="text-align: center">
                            <a href="#" target="_blank"
                              ><img
                                src="icons/facebook.svg"
                                alt="facebook"
                                width="24"
                                style="padding-right: 32px; margin: 0"
                            /></a>
                            <a href="#" target="_blank"
                              ><img
                                src="icons/twitter.svg"
                                alt="twitter"
                                width="24"
                                style="padding-right: 32px; margin: 0"
                            /></a>
                            <a href="#" target="_blank"
                              ><img
                                src="icons/instagram.svg"
                                alt="instagram"
                                width="24"
                                style="padding-right: 32px; margin: 0"
                            /></a>
                            <a href="#" target="_blank"
                              ><img
                                src="icons/linkedin.svg"
                                alt="linkedin"
                                width="24"
                                style="padding-right: 32px; margin: 0"
                            /></a>
                            <a href="#" target="_blank"
                              ><img
                                src="icons/youtube.svg"
                                alt="youtube"
                                width="24"
                                style="margin: 0"
                            /></a>
                          </td>
                        </tr>

                        <tr>
                          <td style="text-align: center; padding-top: 31px">
                            <p
                              style="
                                font-size: 14px;
                                color: #111111;
                                margin: 0;
                                line-height: 20px;
                              "
                            >
                              © 2018-2024 Coolsites. All rights reserved.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
